@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap");
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  outline: none;
  font-family: "Nunito Sans", sans-serif;
  color: #111517;
}

.dark-body {
  background-color: #202c37;
  color: white;
}

.dark-body .container {
  background-color: #2b3945;
  color: white;
}

.dark-body .container .header-left p {
  color: white;
}

.dark-body .container .header-right {
  background-color: #2b3945;
  color: white;
}

.dark-body .container .header-right p {
  color: white;
}

.dark-body .container .header-right .btn-dark-mode {
  background-color: #2b3945;
  color: white;
}

.dark-body .container .header-right .btn-dark-mode .dark {
  display: inline-block;
}

.dark-body .container .header-right .btn-dark-mode .light {
  display: none;
}

.dark-body .container1 .search {
  background-color: #2b3945;
  color: white;
}

.dark-body .container1 .search input {
  color: white;
}

.dark-body .container1 .dropdown {
  background-color: #2b3945;
  color: white;
}

.dark-body .container1 .open {
  background-color: #2b3945;
}

.dark-body .container2 .country-header {
  background-color: #2b3945;
  color: white;
}

.dark-body .container2 .country-body {
  background-color: #2b3945;
}

.dark-body .container2 .country-body h3 {
  color: white;
}

.dark-body .container2 .country-body p {
  color: white;
}

.dark-body .container2 .country-body strong {
  color: white;
}

.dark-body .modal {
  background-color: #2b3945;
}

.dark-body .modal .container3 .btn-close {
  color: white;
  -webkit-box-shadow: 0 0 10px #19222a;
          box-shadow: 0 0 10px #19222a;
}

.dark-body .modal .container3 .modal-body h2 {
  color: white;
}

.dark-body .modal .container3 .modal-body p {
  color: white;
}

.dark-body .modal .container3 .modal-body strong {
  color: white;
}

.container {
  padding: 20px 50px;
  position: relative;
  z-index: 1;
  background-color: white;
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.19), 0 0 0 rgba(0, 0, 0, 0.23);
          box-shadow: 0 2px 5px rgba(0, 0, 0, 0.19), 0 0 0 rgba(0, 0, 0, 0.23);
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 18px;
}

header .header-left {
  font-weight: 800;
  font-size: 24px;
}

header .header-right .btn {
  font-size: 18px;
  font-weight: 600;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

header .header-right .btn img {
  width: 3%;
  padding: 5px;
}

header .header-right .btn .dark {
  display: none;
}

.container1 {
  padding: 20px 50px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container1 .search {
  padding: 20px;
  border-radius: 5px;
  border: none;
  -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.12), 0 0 0 rgba(0, 0, 0, 0.24);
          box-shadow: 0 2px 3px rgba(0, 0, 0, 0.12), 0 0 0 rgba(0, 0, 0, 0.24);
  font-size: 14px;
  padding: 25px;
  min-width: 300px;
}

.container1 .search::-webkit-input-placeholder {
  color: inherit;
}

.container1 .search:-ms-input-placeholder {
  color: inherit;
}

.container1 .search::-ms-input-placeholder {
  color: inherit;
}

.container1 .search::placeholder {
  color: inherit;
}

.container1 .dropdown {
  border-radius: 5px;
  background-color: #fff;
  -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.12), 0 0 0 rgba(0, 0, 0, 0.24);
          box-shadow: 0 2px 3px rgba(0, 0, 0, 0.12), 0 0 0 rgba(0, 0, 0, 0.24);
  font-size: 14px;
  padding: 20px 50px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 150px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  cursor: pointer;
}

.container1 .dropdown .dropdown-img {
  width: 12%;
}

.container1 .dropdown ul {
  border-radius: 5px;
  display: none;
  background-color: #fff;
  -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.12), 0 0 0 rgba(0, 0, 0, 0.24);
          box-shadow: 0 2px 3px rgba(0, 0, 0, 0.12), 0 0 0 rgba(0, 0, 0, 0.24);
  padding: 20px 0px 20px 0px;
  list-style-type: none;
  position: absolute;
  top: 70px;
  left: 0;
  width: 100%;
}

.container1 .dropdown ul li {
  margin-left: 40px;
  margin-top: 10px;
}

.container1 .open ul {
  z-index: 1;
  display: block;
}

.container2 {
  padding: 20px 50px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container2 .country {
  cursor: pointer;
  background-color: #fff;
  -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.12), 0 0 0 rgba(0, 0, 0, 0.24);
          box-shadow: 0 2px 3px rgba(0, 0, 0, 0.12), 0 0 0 rgba(0, 0, 0, 0.24);
  overflow: hidden;
  margin-bottom: 40px;
}

.container2 .country .country-header {
  border: 1px solid transparent;
}

.container2 .country .country-header img {
  max-width: 280px;
}

.container2 .country .country-body {
  padding: 20px;
  border: 1px solid transparent;
}

.container2 .country .country-body h3 {
  padding: 10px 0;
  padding-top: 0;
}

.container2 .country .country-body p {
  padding: 5px 0;
}

.container3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.modal {
  display: none;
  position: fixed;
  background-color: #fff;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 100;
}

.modal img {
  max-width: 450px;
}

.modal .modal-body {
  padding: 30px;
}

.modal .modal-body h2 {
  padding-bottom: 10px;
}

.modal .modal-body p {
  padding: 5px 0;
}

.modal .btn-close {
  display: block;
  padding: 10px 40px;
  position: absolute;
  background: none;
  cursor: pointer;
  bottom: 400px;
  -webkit-box-shadow: 0 0 10px #ccc;
          box-shadow: 0 0 10px #ccc;
  border: none;
}
/*# sourceMappingURL=style.css.map */